[main]
# The database that holds the dump progress
database = balchivist
# The database host
host = localhost
# The file containing your MySQL credentials
defaults_file = ~/.my.cnf

[dumps]
# The directory containing the dump files in the format:
# %(dumpdir)/%(wikidb)/%(dumpdate)
dumpdir = /public/dumps/public
# The server root of the Wikimedia dumps service
dumps = https://dumps.wikimedia.org
# The URLs to the respective database lists
alldblist = https://noc.wikimedia.org/conf/all.dblist
privatedblist = https://noc.wikimedia.org/conf/private.dblist
# The following are for the metadata of the Internet Archive item
collection = wikimediadownloads
creator = Wikimedia projects editors
contributor = Wikimedia Foundation
mediatype = web
rights = Permission is granted under the Wikimedia Foundation's <a href="https://wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a>. There are also additional <a href="https://archive.org/download/wikimediadownloads/legal.html">copyrights information available</a>
licenseurl = http://creativecommons.org/licenses/by-sa/3.0/
